h2 {
  margin-top: 0;
}

.LogInForm {
  display: flex;
  flex-direction: column;
  button {
    text-align: center;
    margin: 1em 0;
    padding: 1.25em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #3c9ffb;
    color: #ffff;
  }
}
